<h1>Item form for {{id}}</h1>
<form [formGroup]="itemForm">
    <button (click)="save()">Save</button>
    <div *ngIf="!itemForm.get('id').value">
        <label>
            <div>I buy item with id:</div>
            <input type="text" formControlName="id"/>
        </label>
    </div>
    <div *ngIf="!itemForm.get('group').value">
        <label>
            <div>I buy item with group:</div>
            <input type="text" formControlName="group"/>
        </label>
    </div>
    <url-parser (parsedConfig)="newConfigFromUrl($event)">
    </url-parser>
    <div>
        <label>
            <div>Pause item</div>
            <input type="checkbox" formControlName="pause"/>
        </label>
    </div>
    <div>
        <label>
            <div>I buy with price:</div>
            <input type="text" 
                formControlName="priceBuy"/>
        </label>
    </div>
    <div>
        <label>
            <div>I want buy:</div>
            <input type="text" 
                formControlName="count"/>
        </label>
    </div>
    <h4>I have some variant</h4>
    <div formArrayName="prices">
        <div *ngFor="let priceVariant of itemForm.get('prices').controls; let i = index"  [formGroupName]="i">
            <input type="text" formControlName="price"/>
            <input type="text" formControlName="count"/>
            <button (click)="deletePrice(+i)">-</button>
        </div>
        <button (click)="addPrice()">+</button>
    </div>
</form>
<pre *ngIf="this.item">
    {{this.item.data | json}}
</pre>