<!-- <h1>Item form for {{id}}</h1> -->
<form [formGroup]="itemForm">
    <button (click)="save()">Save</button>
    <!-- START: Block for changing method for creating items in dattabase -->
    <div *ngIf="!itemForm.get('id').value || !itemForm.get('group').value">
        <div>
            <button (click)="changeActive()">
                <span *ngIf="showByUrl">By url</span>
                <span *ngIf="!showByUrl">By id</span>
            </button>
        </div>
        <div *ngIf="!showByUrl">
            <label>
                <div>I buy item with id:</div>
                <input type="text" formControlName="id"/>
            </label>
        </div>
        <div *ngIf="!showByUrl">
            <label>
                <div>I buy item with group:</div>
                <input type="text" formControlName="group"/>
            </label>
        </div>
        <url-parser *ngIf="showByUrl" (parsedConfig)="newConfigFromUrl($event)">
        </url-parser>
    </div>
    <!-- END: Block for changing method for creating items in dattabase -->
    <div>
        <label>
            <div>Pause item</div>
            <input type="checkbox" formControlName="pause"/>
        </label>
    </div>
    <div>
        <label>
            <div>I buy with price:</div>
            <input type="text" 
                formControlName="priceBuy"/>
        </label>
    </div>
    <div>
        <label>
            <div>I want buy:</div>
            <input type="text" 
                formControlName="count"/>
        </label>
    </div>
    <h4>I have some variant</h4>
    <div formArrayName="prices">
        <div *ngFor="let priceVariant of itemForm.get('prices').controls; let i = index"  [formGroupName]="i">
            <input type="text" formControlName="price"/>
            <input type="text" formControlName="count"/>
            <button (click)="deletePrice(+i)">-</button>
        </div>
        <button (click)="addPrice()">+</button>
    </div>

    <auto-pricer></auto-pricer>
</form>
<pre *ngIf="this.item">
    {{this.item.data | json}}
</pre>