<form [formGroup]="itemForm">
    <mat-chip-list style="margin-bottom: 30px; display: block;">
        <mat-chip (click)="save()">
            Save
        </mat-chip>
    </mat-chip-list>
    <!-- START: Block for changing method for creating items in dattabase -->
    <div *ngIf="!itemForm.get('id').value || !itemForm.get('group').value">
        <mat-chip-list style="margin-bottom: 30px; display: block;">
            <mat-chip (click)="changeActive()">
                <span *ngIf="showByUrl">By url</span>
                <span *ngIf="!showByUrl">By id</span>
            </mat-chip>
        </mat-chip-list>
        <div>
            <mat-chip-list class="choose-market-type">
                <mat-chip *ngFor="let button of marketTypes"
                    [ngClass]="{ 'active': button === itemForm.get('marketType').value}"
                    (click)="changemarketTypeButton(button)">
                    {{ button }}
                </mat-chip>
            </mat-chip-list>
        </div>
        <div *ngIf="!showByUrl">
            <mat-form-field>
                <input formControlName="id" matInput placeholder="I buy item with id:">
            </mat-form-field> 
        </div>
        <div *ngIf="!showByUrl">            
            <mat-form-field>
                <input formControlName="group" matInput placeholder="I buy item with group:">
            </mat-form-field> 
        </div>
        <url-parser *ngIf="showByUrl" (parsedConfig)="newConfigFromUrl($event)">
        </url-parser>
    </div>
    <!-- END: Block for changing method for creating items in dattabase -->
    <div>
        <label>
            <div>Pause item</div>
            <input type="checkbox" formControlName="pause"/>
        </label>
    </div>
    <div>
        <mat-form-field>
            <input formControlName="priceBuy" matInput placeholder="I buy with price:">
        </mat-form-field>        
    </div>
    <div>
        <mat-form-field>
            <input formControlName="count" matInput placeholder="Input">
        </mat-form-field>
    </div>
    <h4>I have some variant</h4>
    <div formArrayName="prices">
        <div *ngFor="let priceVariant of itemForm.get('prices').controls; let i = index"  [formGroupName]="i">
            <mat-form-field>
                <input formControlName="price" matInput placeholder="price">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="count" matInput placeholder="count">
            </mat-form-field>
            <mat-chip-list class="remove-price-button">
                <mat-chip (click)="deletePrice(+i)">-</mat-chip>
            </mat-chip-list>
        </div>
        <mat-chip-list>
            <mat-chip (click)="addPrice()">+</mat-chip>
        </mat-chip-list>
    </div>

    <auto-pricer (arrayOfPrices)="setAutoPrice($event)">
    </auto-pricer>
</form>
<pre *ngIf="this.item">
    {{this.item.data | json}}
</pre>