<mat-chip-list>
    <mat-chip style="margin: 30px 0;" (click)="toogleComponent()">
        Create prices
    </mat-chip>
</mat-chip-list>
<div *ngIf="showForm" [formGroup]="priceForm">
    <mat-form-field>
        <input formControlName="countOfPosition" matInput placeholder="How much position you nead"/>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="stepForPosition" matInput placeholder="Step for saling position"/>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="minPrice" matInput placeholder="Min price"/>
    </mat-form-field>
    <mat-form-field>
        <input formControlName="maxPrice" matInput placeholder="Max price"/>
    </mat-form-field>

    <mat-chip-list style="display: inline-block;">
        <mat-chip (click)="createPriceArray()">Generate</mat-chip>
    </mat-chip-list>
</div>