<button style="margin: 30px 0;" (click)="toogleComponent()">
    Create prices
</button>
<div *ngIf="showForm" [formGroup]="priceForm">
    <input formControlName="countOfPosition" placeholder="How much position you nead"/>
    <input formControlName="stepForPosition" placeholder="Step for saling position"/>
    <input formControlName="minPrice" placeholder="Min price"/>
    <input formControlName="maxPrice" placeholder="Max price"/>

    <button (click)="createPriceArray()">Generate</button>
</div>