<h4>Itemlist</h4>
<div *ngFor="let item of itemLIst">
    <div [routerLink]="['/edit', item._id]">
        <div>
            <b>Item group: </b><span>{{ item.data.group }}</span>
        </div>
        <div>
            <b>Data id: </b><span>{{ item.data.id }}</span>
        </div>
        <div>
            <b>Buy price: </b><span>{{ item.data.priceBuy }}</span>
        </div>
        <div>
            <b>Price cell: </b><span>{{ item.data.priceSeel }}</span>
        </div>
        <div *ngIf="item.data.pause">
            <b>Item on pause!</b>
        </div>
    </div>
    <div class="item-list__price-container" (click)="clickListener(item)" [ngClass]="{'tougled': !item.touglePriceLst}" >
        <div *ngFor="let prices of item.data.prices" class="item-list__price-item">
            Count: {{prices.count}}, with prices {{ prices.price }}
        </div>
    </div>
    <br/>
</div>